.game-content {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card {
        flex: 1 0 30%;
        margin:10px;
        background: purple;
    }
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
    display:flex;
    flex-direction: column;
    p {
        display:none;
    }
}

.card-reveal {
    display:block;
}