.game-area {
    background-color: $secondary;
}

.game-content {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card {
        flex: 1 0 30%;
        margin:10px;
        background: $border;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 5px solid $accent;
        border-radius: 30px;
        
    }
}

.card {
    img {
        width: 150px;
    }
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
    display:flex;
    flex-direction: column;
    p {
        display:none;
    }
}

.fieldset {
    text-align: center;
}
// .card-reveal {
//     display:block;
// }


input[type=submit],
button.pass,
.submit {
    padding: 5px;
    border: 1px solid $accent;
    border-radius: 40px;
    margin: 5px 0;
    background-color: $border;
    color: $accent;
}

.button-container {
    text-align: center;
}

.statement {
    text-align: center;
    font-size: 1.25rem;
}

.correctAnswer {
    text-transform: uppercase;
    text-align: center;
}

.final-submit {
    background-color: $secondary;
}