.game-content {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card {
        flex: 1 0 30%;
        margin:10px;
        background: $card-bg;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 5px solid $accent;
        border-radius: 30px;
    }
}

.card {
    img {
        width: 250px;
    }
}

.filter-on {
    filter: brightness(0);
}

// .filter-off {
//     filter:brightness(1);
// }

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
    display:flex;
    flex-direction: column;
    div {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    p {
        display:none;
        padding: 5px;
        text-align: center;
        color: $accent;
    }
}

.answer-statement {
    text-align: center;
    padding:5px;
    color: $accent;
}

.correct-answer {
    text-transform: uppercase;
    text-align: center;
}


.fieldset {
    text-align: center;
}

input[type=text],
input[type=submit],
button.pass,
.submit,
.reset {
    border: 1px solid $accent;
    border-radius: 10px;
    padding: 10px;
}

// included reset button styles here bc common with game buttons
input[type=submit],
button.pass,
.submit,
.reset {
    margin: 10px 0;
    background-color: $card-bg;
    color: $accent;
    text-transform: uppercase;
    &:hover,
    &:focus {
        border: 1px $accent solid;
        color: rgb(152,132,127);
        background: rgb(218,218,218);
        transition: ease 0.2s;
    }
}


.submit,
.reset {
    font-size: 2.5rem;
}

.button-container {
    text-align: center;
}

