*{
    padding:0;
    margin:0;
    border: 1 solid red;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
// change colours after defining in variables/mixins partial
    background: black;
    color: white;
    &:focus {
        left:0;
    }
}

html {
    font-size: 125%;
    line-height: 1.6;
}

// img {
//     display:block;
//     width:100%;
//     max-width: 100%;
// }

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}