// style stripping
*{
    padding:0;
    margin:0;
    // border: 1px solid red;
}

html {
    font-size: 125%;
    line-height: 1.6;
    font-family: $text;
}

img {
    display:block;
    width:100%;
    max-width: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

// background style
body {
    background:radial-gradient(rgba(255,255,255,0.3), $bg-col);
}

// skip-link
.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: $accent-2;
    color: white;
    &:focus {
        left:0;
    }
}

// heading styles
h1 {
    @include heading(4rem, $accent, uppercase);
    margin: 30px 0;
}

h2 {
    @include heading(2rem, $accent-2, capitalize);
    text-shadow: none;
    margin-bottom:20px;
}

h3 {
    @include heading(1rem,$accent-2, capitalize);
    text-shadow: none;
}

// generic font styles
p {
    font-size: 1.5rem;
    color: $accent-2;
}
