*{
    padding:0;
    margin:0;
    // border: 1px solid red;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
// change colours after defining in variables/mixins partial
    background: black;
    color: white;
    &:focus {
        left:0;
    }
}

html {
    font-size: 125%;
    line-height: 1.6;
    font-family: $text;
}

img {
    display:block;
    width:100%;
    max-width: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

// background colours
.instructions-area,
.results-area {
    // background: $accent;
}


// header styles
header {
    // background: $red;
}
h1 {
    @include heading(4rem, $accent, uppercase);
}

h3 {
    @include heading(2rem, black, capitalize);
    text-shadow: none;
}

h4 {
    @include heading(1rem, black, capitalize)
}

// generic font styles
p {
    font-size: 1.5rem;
}

// background style
body {
    // background:radial-gradient(white, $border, $red);
    background: red;
}