@media(max-width:972px) {
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.3rem;
    }

    .game-content {
        justify-content: center;
        .card {
            flex: 0 0 40%;
        }
    }

    .submit,
    .reset {
        font-size: 2rem;
    }
}

@media(max-width:750px) {
    h1 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1.2rem;
    }

    .card {
        img {
            width: 220px;
        }
    }

    input[type=text] {
        width: 80%;
    }

    .submit,
    .reset {
        font-size: 1.6rem;
    }

}

@media(max-width:600px) {
    h1 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.1rem;
    }

    .card {
        img {
            width: 200px;
        }
    }

    .submit,
    .reset {
        font-size: 1.4rem;
    }

}

@media(max-width:550px) {

        .game-content {
        justify-content: center;
        .card {
            flex: 0 0 60%;
        }
    }

}