@media(max-width:972px) {
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    p {
        font-size: 1.3rem;
    }

    .game-content {
        justify-content: center;
        .card {
            flex: 0 0 40%;
        }
    }

    .submit,
    .reset {
        font-size: 2rem;
    }
}

@media(max-width:768px) {
    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1.2rem;
        text-align: center;
    }

    .card {
        img {
            width: 220px;
        }
    }

    input[type=text] {
        width: 100%;
    }

    .submit,
    .reset {
        font-size: 1.6rem;
    }

}

@media(max-width:632px) {
    h1 {
        font-size: 2.3rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 0.8rem;
    }

    p {
        font-size: 1.1rem;
    }

    .card {
        img {
            width: 200px;
        }
    }

    input[type=text] {
        width: 95%;
    }

    .submit,
    .reset {
        font-size: 1.4rem;
    }
}

@media(max-width:480px) {
    .game-content {
        flex-direction:column;
        .card {
        margin:10px 45px;
            img {
                width: 250px;
            }
        }
    }
}

@media(max-width:320px) {
    html {
        font-size:0.9rem;
    }

    .fieldset {
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .button-container {
        display:flex;
        flex-direction:column;
        width:95%;
    }

    .final-submit-container,
    .reset-container {
        width:80%;
        margin:0 auto;
    }


    input[type="submit"],
    button.pass {
        
        margin:0;
        margin-top: 5px

    }
    button.pass {
        margin-bottom:10px;
    }

    footer {
        h3 {
            font-size:0.7rem;
        }
    }
}