.results-statement {
    text-align: center;
}

.correct-answer {
    text-transform: uppercase;
    text-align: center;
}


// reset button styles // also located in _game.scss due to similar styles with _game buttons
.reset-container {
    background: $secondary;
}