// variables

// background colour
$bg-col: rgb(221,26,23);

// card-colours
$card-bg: rgba(50,98,153,0.9);

$accent: rgb(253,203,4);

// main text colour
$accent-2: #060f0e;

// text font families
$text: 'Abel', sans-serif;
$heading-font:'Roboto Slab', serif;


// mixins
@mixin heading ($font-size, $color, $tt) {
    font-size: $font-size;
    color: $color;
    font-family: $heading-font;
    text-transform: $tt;
    line-height: 1.2;
    text-align: center;
    text-shadow: 2px 2px 8px darken($card-bg, 5%);
}

