article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 125%;
  line-height: 1.6;
  font-family: "Abel", sans-serif;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

body {
  background: radial-gradient(rgba(255, 255, 255, 0.3), #dd1a17);
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #060f0e;
  color: white;
}

.skip-link:focus {
  left: 0;
}

h1 {
  font-size: 4rem;
  color: #fdcb04;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(44, 86, 134, 0.9);
  margin: 30px 0;
}

h2 {
  font-size: 2rem;
  color: #060f0e;
  font-family: "Roboto Slab", serif;
  text-transform: capitalize;
  line-height: 1.2;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(44, 86, 134, 0.9);
  text-shadow: none;
  margin-bottom: 20px;
}

h3 {
  font-size: 1rem;
  color: #060f0e;
  font-family: "Roboto Slab", serif;
  text-transform: capitalize;
  line-height: 1.2;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(44, 86, 134, 0.9);
  text-shadow: none;
}

p {
  font-size: 1.5rem;
  color: #060f0e;
}

.instructions-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader img {
  width: 200px;
  height: 200px;
  -webkit-animation: rotation 3s infinite ease;
          animation: rotation 3s infinite ease;
}

.loader p {
  color: #fdcb04;
  font-size: 1.2rem;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

.game-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.game-content .card {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  margin: 10px;
  background: rgba(50, 98, 153, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #fdcb04;
  border-radius: 30px;
}

.card img {
  width: 250px;
}

.filter-on {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-1 div,
.card-2 div,
.card-3 div,
.card-4 div,
.card-5 div,
.card-6 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-1 p,
.card-2 p,
.card-3 p,
.card-4 p,
.card-5 p,
.card-6 p {
  display: none;
  padding: 5px;
  text-align: center;
  color: #fdcb04;
}

.answer-statement {
  text-align: center;
  padding: 5px;
  color: #fdcb04;
}

.correct-answer {
  text-transform: uppercase;
  text-align: center;
}

.fieldset {
  text-align: center;
}

input[type=text],
input[type=submit],
button.pass,
.submit,
.reset {
  border: 1px solid #fdcb04;
  border-radius: 10px;
  padding: 10px;
}

input[type=submit],
button.pass,
.submit,
.reset {
  margin: 10px 0;
  background-color: rgba(50, 98, 153, 0.9);
  color: #fdcb04;
  text-transform: uppercase;
}

input[type=submit]:hover, input[type=submit]:focus,
button.pass:hover,
button.pass:focus,
.submit:hover,
.submit:focus,
.reset:hover,
.reset:focus {
  border: 1px #fdcb04 solid;
  color: #98847f;
  background: #dadada;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.submit,
.reset {
  font-size: 2.5rem;
}

.button-container {
  text-align: center;
}

.results h2 {
  padding: 20px;
}

footer {
  text-align: center;
  background-color: #060f0e;
}

footer h3 {
  color: #fdcb04;
  padding: 10px 0;
  text-transform: initial;
}

@media (max-width: 972px) {
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  p {
    font-size: 1.3rem;
  }
  .game-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .game-content .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
  .submit,
  .reset {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
    text-align: center;
  }
  .card img {
    width: 220px;
  }
  input[type=text] {
    width: 100%;
  }
  .submit,
  .reset {
    font-size: 1.6rem;
  }
}

@media (max-width: 632px) {
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 0.8rem;
  }
  p {
    font-size: 1.1rem;
  }
  .card img {
    width: 200px;
  }
  input[type=text] {
    width: 95%;
  }
  .submit,
  .reset {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .game-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .game-content .card {
    margin: 10px 45px;
  }
  .game-content .card img {
    width: 250px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 0.9rem;
  }
  .fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }
  .final-submit-container,
  .reset-container {
    width: 80%;
    margin: 0 auto;
  }
  input[type="submit"],
  button.pass {
    margin: 0;
    margin-top: 5px;
  }
  button.pass {
    margin-bottom: 10px;
  }
  footer h3 {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=styles.css.map */